<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lac.job.mapper.PrcMapper">
	<select id="prcDwhTransfer" parameterType="java.util.Map" statementType="CALLABLE">
		{CALL prc_dwh_transfer(#{in1,jdbcType=INTEGER,mode=IN},#{in2,jdbcType=INTEGER,mode=IN})}
	</select>
</mapper>