<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lac.job.mapper.ReminderStatusMapper">

	<!-- 刷新提醒状态 -->
	<update id="updateReminderStatus">
	<![CDATA[  
		SET SQL_SAFE_UPDATES=0;
		UPDATE tt_reminder SET ST_REMINDER_STATUS = 'System_ReminderStatus_002' WHERE DT_REMINDER_END_DATE < NOW();
		  ]]>
	</update>
</mapper>